<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons class="ion-no-margin" slot="start">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" color="dark" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="data">
  <ion-grid *ngIf="data.payment_method == 'USDT' || data.payment_method == 'BTC'" class="ion-no-padding">
    <ion-row class="px-3">
      <ion-col size="12" size-lg="6" offset-lg="3">
        <h1 class="font-bold text-dark">Deposit {{ data.payment_method }}</h1>
      </ion-col>
    </ion-row>
    <ion-row class="mt-2 px-3">
      <ion-col size="12" size-lg="6" offset-lg="3">
        <div>
          <p class="text-medium">Kindly send payment to the deposit address shown below.</p>
          <p class="m-0 text-dark">Amount: {{ data.amount | currency }}</p>
          <p class="m-0 text-dark">Confirmation: 0/3</p>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="bg-light mt-3">
      <ion-col size="12" size-lg="6" offset-lg="3">
        <div class="px-3 pt-3">
          <div class="ion-text-wrap">
            <p class="text-sm m-0 text-dark">USDT Deposit Address</p>
            <p class="font-bold m-0 text-dark">{{ data.to_wallet }}</p>
          </div>
          <div (click)="copy(data.to_wallet)" class="ion-align-items-center text-dark flex ion-justify-content-center py-3">
            <ion-icon name="copy-outline" slot="icon-only"></ion-icon>
            <p class="m-0 ml-1">copy</p>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="px-3 mt-3">
      <ion-col size="12" size-lg="6" offset-lg="3">
        <div class="text-medium">
          <p class="text-sm">Important</p>
          <p class="m-0 text-xs">* Make sure you send correct amount to the deposit address.</p>
          <p class="m-0 text-xs">* Ensure you make deposit before clicking on confirm payment.</p>
          <p class="m-0 text-xs">* Your deposit will reflect after 1 network confirmation.</p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-lg="6" offset-lg="3">
        <ion-button (click)="close()" expand="block" class="mb-5">Confirm Payment</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>