<ion-header class="ion-no-shadow ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon
          name="chevron-back-outline"
          slot="icon-only"
          color="primary"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content *ngIf="data === 'edit-name' && !isLoading" [fullscreen]="true">
  <div class="container h-full">
    <form [formGroup]="editName" class="w-full h-full">
      <div class="h-full flex flex-col justify-between">
        <div>
          <div class="section">
            <div class="mb-8">
              <p class="text-2xl font-bold">Name</p>
              <p class="text-gray-500">What would you like us to call you?</p>
            </div>
            <div>
              <div class="flex flex-col gap-5">
                <ion-input
                  label="First Name"
                  labelPlacement="floating"
                  class="border-none px-4"
                  fill="outline"
                  type="text"
                  formControlName="first_name"
                ></ion-input>

                <ion-input
                  label="Last Name"
                  labelPlacement="floating"
                  class="border-none px-4"
                  fill="outline"
                  type="text"
                  formControlName="last_name"
                ></ion-input>
              </div>
            </div>
          </div>
          <div class="section mt-10 pb-6">
            <ion-button
              class="capitalize text-xl"
              expand="block"
              (click)="updateBtn()"
              >Update</ion-button
            >
          </div>
        </div>
      </div>
    </form>
  </div>
</ion-content>
<ion-content *ngIf="data === 'edit-gender' && !isLoading" [fullscreen]="true">
  <div class="container h-full">
    <form [formGroup]="editGender" class="w-full h-full">
      <div class="h-full flex flex-col justify-between">
        <div>
          <div class="section">
            <div class="mb-8">
              <p class="text-2xl font-bold">Gender</p>
              <p class="text-gray-500">Kindly select your gender</p>
            </div>
            <div>
              <div class="flex flex-col gap-5">
                <ion-select
                  label="Gender"
                  labelPlacement="floating"
                  formControlName="gender"
                  class="border-none"
                  fill="outline"
                >
                  <ion-select-option value="MALE">MALE</ion-select-option>
                  <ion-select-option value="FEMALE">FEMALE</ion-select-option>
                </ion-select>
              </div>
            </div>
          </div>
          <div class="section mt-10 pb-6">
            <ion-button
              class="capitalize text-xl"
              expand="block"
              (click)="updateBtn()"
              >Update</ion-button
            >
          </div>
        </div>
      </div>
    </form>
  </div>
</ion-content>
<ion-content *ngIf="data === 'edit-email' && !isLoading" [fullscreen]="true">
  <div class="container h-full">
    <form [formGroup]="editEmail" class="w-full h-full">
      <div class="h-full flex flex-col justify-between">
        <div>
          <div class="section">
            <div class="mb-8">
              <p class="text-2xl font-bold">Email</p>
              <p class="text-gray-500">What email would you like to change to?</p>
            </div>
            <div>
              <div class="flex flex-col gap-5">
                <ion-input
                  label="Email address"
                  labelPlacement="floating"
                  class="border-none px-4"
                  fill="outline"
                  type="email"
                  formControlName="email"
                ></ion-input>
              </div>
            </div>
          </div>
          <div class="section mt-10 pb-6">
            <ion-button
              class="capitalize text-xl"
              expand="block"
              (click)="updateBtn()"
              >Update</ion-button
            >
          </div>
        </div>
      </div>
    </form>
  </div>
</ion-content>
<ion-content *ngIf="data === 'mobile-phone' && !isLoading" [fullscreen]="true">
  <div class="container h-full">
    <form [formGroup]="editMobile" class="w-full h-full">
      <div class="h-full flex flex-col justify-between">
        <div>
          <div class="section">
            <div class="mb-8">
              <p class="text-2xl font-bold">Phone</p>
              <p class="text-gray-500">What phone number would you like to change to?</p>
            </div>
            <div>
              <div class="flex flex-col gap-5">
                <ion-input
                  label="Phone"
                  labelPlacement="floating"
                  class="border-none px-4"
                  fill="outline"
                  type="tel"
                  formControlName="mobile"
                ></ion-input>
              </div>
            </div>
          </div>
          <div class="section mt-10 pb-6">
            <ion-button
              class="capitalize text-xl"
              expand="block"
              (click)="updateBtn()"
              >Update</ion-button
            >
          </div>
        </div>
      </div>
    </form>
  </div>
</ion-content>
<ion-content *ngIf="data === 'edit-address' && !isLoading" [fullscreen]="true">
  <div class="container h-full">
    <form [formGroup]="editAddress" class="w-full h-full">
      <div class="h-full flex flex-col justify-between">
        <div>
          <div class="section">
            <div class="mb-8">
              <p class="text-2xl font-bold">Address line</p>
              <p class="text-gray-500">You can update your home address here</p>
            </div>
            <div>
              <div class="flex flex-col gap-5">
                <ion-input
                  label="Address Line 1"
                  labelPlacement="floating"
                  class="border-none px-4"
                  fill="outline"
                  type="text"
                  formControlName="address"
                ></ion-input>
              </div>
            </div>
          </div>
          <div class="section mt-10 pb-6">
            <ion-button
              class="capitalize text-xl"
              expand="block"
              (click)="updateBtn()"
              >Update</ion-button
            >
          </div>
        </div>
      </div>
    </form>
  </div>
</ion-content>
<ion-content *ngIf="data === 'edit-country' && !isLoading" [fullscreen]="true">
  <div class="container h-full">
    <form [formGroup]="editCountry" class="w-full h-full">
      <div class="h-full flex flex-col justify-between">
        <div>
          <div class="section">
            <div class="mb-8">
              <p class="text-2xl font-bold">Nationality</p>
              <p class="text-gray-500">Update your nationality status here</p>
            </div>
            <div>
              <div class="flex flex-col gap-5">
                <ion-input
                  label="Nationality"
                  labelPlacement="floating"
                  class="border-none px-4"
                  fill="outline"
                  type="text"
                  formControlName="nationality"
                ></ion-input>
              </div>
            </div>
          </div>
          <div class="section mt-10 pb-6">
            <ion-button
              class="capitalize text-xl"
              expand="block"
              (click)="updateBtn()"
              >Update</ion-button
            >
          </div>
        </div>
      </div>
    </form>
  </div>
</ion-content>
