.section {
  ion-button {
    --border-radius: 25px;
    --padding-top: 18px;
    --padding-bottom: 18px;
    --background: var(--ion-color-light);
    --color: var(--ion-color-primary);
    font-size: large;
  }
}

.block {
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

ion-modal {
  --border-radius: 40px;
}