ion-input {
  background-color: #eee;
  --padding-top: 13px !important;
  --padding-bottom: 13px !important;
  --padding-start: 10px !important;
  border-radius: 5px;
}

ion-button {
  --box-shadow: 0;
}
