ion-input {
  --border-width: 2px !important;
  --border-radius: 18px !important;
  --highlight-color-valid: var(--ion-color-primary);
  --padding-start: 22px !important;
}

ion-button {
  --border-radius: 18px;
  --padding-top: 25px;
  --padding-bottom: 25px;
}
