<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar color="#ffffff">
    <ion-buttons class="ion-no-margin" slot="start">
      <ion-button [routerLink]="['/','profile']">
        <ion-icon
          slot="icon-only"
          color="dark"
          name="person-circle-outline"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons class="ion-no-margin" slot="end">
      <ion-button [routerLink]="['/','settings']">
        <ion-icon
          slot="icon-only"
          color="dark"
          name="settings-outline"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher class="z-50" slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      refreshingSpinner="circles"
    >
    </ion-refresher-content>
  </ion-refresher>
  <div class="container">
    <div class="px-4">
      <ion-card class="rounded-xl mx-0 bg-gradient-to-r from-black via-blue-950 text-white to-blue-600">
      <ion-card-content>
        <div class="text-center flex flex-col items-center">
          <ion-text class="font-thin">Total Balance</ion-text>
          <ion-spinner *ngIf="isLoading" name="circles" color="light"></ion-spinner>
          <ion-text *ngIf="!isLoading" class="text-4xl mt-2 font-bold">{{ totalBal | currency }}</ion-text>
          <ion-icon name="wallet-outline" class="mt-2 text-4xl"></ion-icon>
        </div>
      </ion-card-content>
    </ion-card>
    </div>
    
    <div class="section">
      <div class="mt-5">
        <p class="font-semibold uppercase">Quick Actions</p>
      </div>
      <div class="grid grid-cols-4 mt-2 gap-2">
        <div *ngFor="let menu of menus" class="bg-blue-50 hover:bg-blue-200 text-center rounded-lg">
          <div class="py-4" (click)="open(menu)">
            <div class="icon">
              <ion-icon [name]="menu.icons" class="text-3xl text-blue-600"></ion-icon>
            </div>
            <p class="mb-0 font-light text-sm">{{ menu.name }}</p>
          </div>
        </div>
      </div>
      <div class="mt-6">
        <p class="font-semibold">REFER & EARN</p>
        <div class="banner rounded-md mt-2 px-3 py-4" [routerLink]="['/','referral']">
          <div>
            <p class="font-extrabold m-0 text-lg">Agric XS Earn</p>
            <p class="text-sm font-thin m-0">One Stop Investment Solution</p>
          </div>
          <div>
            <img width="50px" src="../../../assets/images/5c00fa0eb8b0816e1a10dfe6_hero-2.svg">
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
