<ion-header [translucent]="true" class="ion-no-shadow ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon name="chevron-back-outline" slot="icon-only" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container h-full">
    <form [formGroup]="resetForm" class="w-full h-full">
      <div class="h-full flex flex-col justify-between">
        <div>
          <div class="section mt-2">
            <div class="mb-8" *ngIf="isForgot">
              <p class="text-3xl font-bold">Reset Password.</p>
              <p class="text-gray-500 text-lg">You can reset your old password here</p>
            </div>
            <div class="mb-8" *ngIf="!isForgot">
              <p class="text-3xl font-bold">Change Password.</p>
              <p class="text-gray-500 text-lg">You can change your password</p>
            </div>
            <div>
              <div class="flex flex-col gap-4">
                <ion-input
                  *ngIf="!isForgot"
                  label="Old Password"
                  labelPlacement="floating"
                  class="ion-padding-horizontal border-none"
                  fill="outline"
                  type="password"
                  formControlName="oldPassword"
                ></ion-input>

                <ion-input
                  label="New Password"
                  labelPlacement="floating"
                  class="ion-padding-horizontal border-none"
                  fill="outline"
                  type="password"
                  formControlName="password"
                ></ion-input>

                <ion-input
                  label="Confirm Password"
                  labelPlacement="floating"
                  class="ion-padding-horizontal border-none"
                  fill="outline"
                  type="password"
                  formControlName="cPassword"
                ></ion-input>
              </div>
            </div>
          </div>
        </div>
        <div class="section pb-6 mt-5">
          <div>
            <ion-button class="capitalize" expand="block" (click)="reset()"
              >Reset Password</ion-button
            >
          </div>
        </div>
      </div>
    </form>
  </div>
</ion-content>
