<ion-content>
  <ion-list class="ion-no-padding">
    <ion-item lines="full" color="light" (click)="editProfile()">
      <ion-icon class="ion-no-margin sm-icon" name="create-outline" slot="start"></ion-icon>
      <ion-ripple-effect></ion-ripple-effect>
      <ion-text class="my-0 ml-2" color="dark">Edit Profile</ion-text>
    </ion-item>
    <ion-item lines="full" color="light" (click)="logout()">
      <ion-icon class="ion-no-margin sm-icon" name="power-outline" slot="start"></ion-icon>
      <ion-ripple-effect></ion-ripple-effect>
      <ion-text class="my-0 ml-2" color="dark">Logout</ion-text>
    </ion-item>
  </ion-list>
</ion-content>