<ion-content [fullscreen]="true">
  <div class="container h-full">
    <form [formGroup]="form" class="w-full h-full">
      <div class="h-full">
        <div class="py-5 px-2">
          <ion-buttons>
            <ion-button (click)="back()">
              <ion-icon
                name="return-up-back-outline"
                class="text-black"
              ></ion-icon>
            </ion-button>
          </ion-buttons>
        </div>
        <div class="section mt-2">
          <div class="mb-8">
            <p class="text-2xl font-bold">Forgot Password</p>
            <p class="mt-2 text-gray-500 text-sm">Enter your email for the verification process, we will send you a verification code.</p>
          </div>
          <div>
            <div class="flex flex-col gap-4">
              <ion-input
                label="Email address"
                labelPlacement="floating"
                class="border-none px-4"
                fill="outline"
                type="email"
                formControlName="email"
                placeholder="Please enter email"
              ></ion-input>
            </div>
          </div>
          <div class="mt-5">
            <ion-button class="capitalize" expand="block" (click)="submit()">Forgot</ion-button>
          </div>
        </div>
      </div>
    </form>
  </div>
</ion-content>
